.column-w-300 {
  width: 300px!important;
}
.column-w-250 {
  width: 250px!important;
}
.column-w-200 {
  width: 200px !important;
}
.column-w-150 {
  width: 150px!important;
}
.column-w-72 {
  width: 72px!important;
}
.column-w-60 {
  width: 60px!important;
}